<div class="site-section">
    <div class="container">
        <div class="row mb-5 ">
            <div class="col-md-7 text-center mx-auto">
                <h2 class="serif">Get The Card</h2>

                <%= link_to "Cover", dashboard_download_card_path(commit: "cover"), class: "btn btn-primary"  %><br><br>
                <%= link_to "Card", dashboard_download_card_path(commit: "card"), class: "btn btn-primary"  %><br><br>
                <%= link_to "Invitation", dashboard_download_card_path(commit: "invitation"), class: "btn btn-primary"  %>

            </div>
        </div>
    </div>
</div>