<!DOCTYPE HTML>
<html>
<head>
 <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
 <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
 <link href="https://fonts.googleapis.com/css2?family=Charm:wght@700&display=swap" rel="stylesheet">
 <link href="style.css" rel="stylesheet">
</head>
<body>

<div class="countdown">
 <div class="wrapper">
   <h1 class="title">Marriage CountDown</h1>


   <div class="box-container">
    <div class="box">
       <span class="digit d1">00</span>
       <label>Day</label>
    </div>
    <div class="box">
       <span class="digit d2">00</span>
       <label>Hour</label>
    </div>
     <div class="box">
       <span class="digit d3">00</span>
       <label>Min</label>
    </div>
    <div class="box">
       <span class="digit d4">00</span>
       <label>Sec</label>
    </div>
   </div>

 </div>
</div>

<div class="wrap">
    <div class="middle">
      <h1>Today is My Marriage</h1>
      <p>Thanks To All For Wising Me.</p>
    </div>
</div>

<ul class="social-media-icons">
   <li><a href="https://www.facebook.com/profile.php?id=100045607696469"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
   <li><a href="https://instagram.com/_programmer_010?igshid=1ie03z12m99w1"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
   <li><a href="https://github.com/Rohit01-pro"><i class="fa fa-github" aria-hidden="true"></i></a></li>
</ul>
 <script src="script.js"></script>
</body>
</html>
