<!DOCTYPE html>
<html>

<head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>

<body>
    <h1>Hi <%#= @contact_me.last_name %></h1>
    <h1>Hi <%#= @contact_me.email %></h1>
    <h1>Hi <%#= @contact_me.message %></h1>
    <p>
        <%#= @contact_me.message %>
    </p>
</body>

</html>